:root {
    --azure: #0084FDff;
    --uranian-blue: #B5DDFFff;
    --blue-bell: #9692E4ff;
    --maximum-yellow-red: #FDC15Fff;
    --jet: #323232ff;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
header{
    background-color: var(--azure);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
}
.btn{
    border: none;
    border-radius: 20px;
    padding: .3rem .5rem;
}
.btn-white{
    background-color: white;
}
.btn-blue{
    background-color: var(--azure);
    margin-top: 1rem;
    padding: .5rem 3rem;
    color: white;
    font-size: 1rem;
    
}
section{
    padding: 2rem 0;
}

.logo-container img{
    width: 100%;
}
.menu-icon{
    color: white;
    font-size: 1.5rem;
}
button i{
    color: white;
    font-size: 1rem;
    margin-right: .5rem;
}
.menu-container ul{
    display: none;
    align-items: center;
}
.menu-container a{
    text-decoration: none;
    padding: 0 .5rem;
    color: white;
}
.menu-container li{
    list-style: none ;
    padding: .5rem;
}
.info > {
    padding: 2rem 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
    
}
h2,p{
    padding: 1rem 0;

}
.margin-negative{
    margin: 0 -.5rem;
}
.row > *{
    flex-grow: 1;
    flex-basis: 100%;
    padding: 0 .5rem .5rem;
}

.bgc-primary{
    background-color:var(--uranian-blue);
}
.card{
    padding: .5rem;
    border-radius: 20px;
}
.bgc-white{
    background-color: white;
}
.bgc-secondary{
    background-color: var(--blue-bell);
}
.bgc-footer{
    background-color: var(--jet);
}
.c-primary{
    color: var(--azure);
}
.c-white{
    color: white;
}
.img-phone-container{
    position: relative;
    bottom: -1rem;
}
.img-phone-container img{
    width: 100%;
    display: block;
    object-fit: contain;
}
.col-100{
    text-align: center;
    line-height: 1.5rem;
}
.col-100 i{
    color: var(--azure);
    font-size: 4rem;

}
.margin-top{
    padding-top: 4rem;
}
.padding-2{
    padding: 0 2rem;

}
.img-container{
    width: 100%;
}
.img-container img{
    width: 100%;

}
.text-center{
    text-align: center;
}
.purple-arrow i{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: var(--blue-bell);
    display: flex;
    justify-content: center;
    align-items: center;
}
.purple-arrow {
    display: flex;
    justify-content: center;
}
.