:root {
    --azure: #0084FDff;
    --uranian-blue: #B5DDFFff;
    --blue-bell: #9692E4ff;
    --maximum-yellow-red: #FDC15Fff;
    --jet: #323232ff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
nav{
    display: flex;
    justify-content: space-between;
     background-color: var(--azure);
}
section{
    padding: 2rem 0;
}
.logo-container img{
    width: 100%;

}
.menu-container{
   display: no;
}
.menu-container li{
    display: flex;
    list-style: none ;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.5rem;
}
.row > *{
    flex-grow: 1;
    flex-basis: 100%;
    padding: 0 .5rem .5rem;
}

.bgc-primary{
    background-color:var(--uranian-blue);
}
.card{
    padding: .5rem;
    border-radius: 20px;
    min-height: 200px;
    border: 1px solid black;
}
.bgc-secondary{
    background-color: var(--blue-bell);
}
.bgc-footer{
    background-color: var(--jet);
}